body {
    background-image: url(./resources/images/notebook-wallpaper.webp);
    overflow-y: scroll;
    overflow-x: hidden;
}

.heading {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    font-weight: 700;
    color: maroon;
    text-align: center;
}
table, td, th, tr{
    border: 1px solid;
    left: 200px;
}

table {
    text-align: start;
    font-size: 20px;
    left: 200px;
    margin-left: auto;
    Margin-right: auto;
}

p {
    font-size: 23px;
    font-weight: 300;
    margin: 0px 100px;
    line-height: 1.5;
    width: 80%;
}

.list {
    position: relative;
    font-size: 23px;
    left: 200px;
}

.subheading {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 30px;
    position: relative;
}